{% extends 'base.html.twig' %}

{% block title %}The first free spirit trip community{% endblock %}

{% block body %}

    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
        <div class="col">
          <h1>The adventure in a wheel spin</h1>
          <p>Roadtripr allows owners to rent their motorhomes. Find the nearest vehicle that suits you!</p>

          {{ form_start(form) }}
              <div class="form-row align-items-end">
                  <div class="col">
                      {{ form_row(form.minimumBedsNumber) }}
                  </div>
                  
                  <div class="col">
                    {{ form_row(form.beginAt) }} {{ form_row(form.endAt) }}
                  </div>

                  <div class="col">
                      <div class="form-group">
                          <button class="btn btn-primary">Search</button>
                      </div>
                  </div>

                  <div class="col" style="display: none;">
                      {{ form_row(form.maximumPrice) }}
                  </div>

                  <div class="col" style="display: none;">
                      {{ form_row(form.cellEquipments) }}
                  </div>

                  <div class="col" style="display: none;">
                      {{ form_row(form.carrierEquipments) }}
                  </div>

                  <div class="col" style="display: none;">
                      {{ form_row(form.distance) }}
                  </div>

              </div>

              <div class="form-row" style="display: none;">
                  <div class="col">
                      {{ form_row(form.address, {'id': 'search_address'}) }}
                  </div>
              </div>

              <div class="form-row" style="display: none;">
                  <div class="col">
                      <input type="text" id="urlAjaxSession" value="{{ path('user.geolocation.session') }}">
                  </div>
              </div>

              <div class="form-row" style="display: none;">
                  <div class="col">
                      {{ form_row(form.city, {'id': 'city'}) }}
                  </div>
              </div>

              <div class="form-row" style="display: none;">
                  <div class="col">
                      {{ form_row(form.sorting) }}
                  </div>
              </div>

          {{ form_end(form) }}

          <p><small>Or <a href="{{ path('advert.description.create') }}">list your motorhome</a>.</small></p>
        </div>
        <div class="col">
        </div>

        <div class="m_hero__image">
         <div class="m_skew">
            <picture class="objectfit--cover objectFitContainer">
               <source media="(min-width: 1024px)" srcset="images/motorhome1.jpg" style="opacity: 1;">
               <source media="(min-width: 786px)" srcset="images/motorhome1.jpg" style="opacity: 1;">
               <source media="(min-width: 320px)" srcset="images/motorhome1.jpg" style="opacity: 1;">
               <img alt="The adventure in a wheel spin" src="images/motorhome1.jpg" style="opacity: 1;">
             </picture>
         </div>
        </div>
    </section>

    <!-- LAST ADVERTS -->
    <section id="lastAdverts" class="pt-5 pb-5">
      <div class="container">
      <div class="row">
        <div class="col">
          <h2>Discover recently added vehicules</h2>
        </div>
      </div>

      {% set i = 0 %}
      <div class="row">

        {% for advert in lastAdverts %}

            <div class="col-md-4">

                {% if distances[advert.id] is defined %}

                    {% set distance = distances[advert.id] %}

                {% else %}

                    {% set distance = null %}

                {% endif %}

                {% if minPrices[advert.id] is defined %}

                    {% set minPrice = minPrices[advert.id] %}

                {% else %}

                    {% set minPrice = null %}

                {% endif %}

                {{ include('advert/_advert.html.twig', { 'i': i, 'advert': advert, 'distance': distance, 'minPrice': minPrice, 'homepage': true}) }}

                {% set i = i + 1 %}

            </div>

        {% endfor %}

    </div>
    </section>

    <!-- WHY USE -->
    <section id="whyUse" class="bg-light pt-5 pb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h2>Pourquoi réserver votre véhicule sur Roadtripr ?</h2>
          <p>Partir à l’aventure okay, mais pas sans un minimum de garanties…</p>
        </div>
        <div class="col">
          <ol class="list-group">
            <li class="list-group-item">
              <p><strong>Sécurité</strong>. Vous savez chez qui vous louez, vous rencontrez le propriétaire du véhicule.</p>
            </li>
            <li class="list-group-item">
              <p>Vous rejoignez une <strong>communauté</strong> de passionnés qui échangent leurs trucs & astuces.</p>
            </li>
            <li class="list-group-item">
              <p>Le <strong>choix</strong> pardi ! On parle du niveau de confort, de la proximité et bien entendu du prix.</p>
            </li>
          </ol>
        </div>
      </div>
    </section>

    <!-- SUBSCRIPTION -->
    <section id="whyUse" class="pt-5 pb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h2>Pourquoi s'inscrire ?</h2>
          <p>Inscrivez-vous pour réserver votre motorhome et accéder à l’ensemble des fonctionnalités du site. Une fois inscrit, vous pouvez également mettre en vente votre véhicule.</p>
        </div>
        <div class="col">
          <h2>Je m'inscris gratuitement</h2>

          <i>Form</i>
        </div>
      </div>
    </section>

    <!-- TESTIMONIALS -->
    <section id="testimonials" class="bg-light pt-5 pb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h2>Parole aux utilisateurs</h2>
        </div>
      </div>
    </section>

    <!-- LAST RATINGS -->
    <section id="testimonials" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Last ratings / Instagram</h2>
        </div>
      </div>
      <div class="row">
      {% for rating in lastAdvertRatings %}
          <div class="col-md-4">
              {{ include('rating/_rating.html.twig', { 'rating': rating}) }}
          </div>
      {% endfor %}
      </div>
    </section>

    {{ include('_messages.html.twig') }}

    {% block javascripts %}

        {{ parent() }}

        {{ encore_entry_script_tags('home') }}

    {% endblock %}

{% endblock %}
