{% extends 'base.html.twig' %}

{% block title %}The first free spirit trip community{% endblock %}

{% block body %}

    <h1>The first free spirit trip community</h1>

    <div class="vertical-navbar" style="float: left">
                
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link"  href="#last_adverts">Last adverts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#why_use">Why Roadtrip?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#subscriptions">Subscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#last_ratings">Last ratings</a>
                </li>

            </ul>

    </div>

    <div class="jumbotron">

        <div class="container">

            {{ include('_messages.html.twig', { 'form': form }) }}

            {{ form_start(form) }}

                <div class="form-row align-items-end">

                    <div class="col">

                        {{ form_row(form.minimumBedsNumber) }}

                    </div>
    
                    <div class="col">
    
                        <div class="form-group">
    
                            <button class="btn btn-primary">Find</button>
    
                        </div>
    
                    </div>

                    <div class="col" style="display: none;">

                        {{ form_row(form.maximumPrice) }}

                    </div>

                    <div class="col" style="display: none;">

                        {{ form_row(form.cellEquipments) }}

                    </div>

                    <div class="col" style="display: none;">

                        {{ form_row(form.carrierEquipments) }}

                    </div>

                    <div class="col" style="display: none;">

                        {{ form_row(form.distance) }}

                    </div>

                </div>

                <div class="form-row" style="display: none;">                    

                    <div class="col">
        
                        {{ form_row(form.address, {'id': 'search_address'}) }}
        
                    </div>

                </div>

                <div class="form-row" style="display: none;">                    

                    <div class="col">
        
                        <input type="text" id="urlAjaxSession" value="{{ path('user.geolocation.session') }}">
        
                    </div>

                </div>

                <div class="form-row" style="display: none;">                    

                    <div class="col">
        
                        {{ form_row(form.city, {'id': 'city'}) }}
        
                    </div>

                </div>

                <div class="form-row" style="display: none;">                    

                    <div class="col">
        
                        {{ form_row(form.sorting) }}
        
                    </div>

                </div>

            {{ form_end(form) }}

        </div>

        <div style="display: none">

            <input type="text" id="ajaxRoute" value="{{ path('user.geolocation.session') }}">

        </div>

    </div>

    <div data-slider>
        
        {% for fileName in filesNames %}

            <img src="{{ asset(fileName) | imagine_filter('medium') }}" alt="img" style="width: 100%; height:auto;"/>
                    
        {% endfor %}


    </div>

    <div id="lastAdverts">

        {% set i = 0 %}
        <balise id="last_adverts">Last adverts</balise>
    
        <div class="row">            
            
            {% for advert in lastAdverts %}
                
                <div class="col-md-4">

                    {% if distances[advert.id] is defined %}    
                            
                        {% set distance = distances[advert.id] %}

                    {% else %}

                        {% set distance = null %}

                    {% endif %}

                    {% if minPrices[advert.id] is defined %}    
                            
                        {% set minPrice = minPrices[advert.id] %}

                    {% else %}

                        {% set minPrice = null %}

                    {% endif %}

                    {{ include('advert/_advert.html.twig', { 'i': i, 'advert': advert, 'distance': distance, 'minPrice': minPrice, 'homepage': true}) }}

                    {% set i = i + 1 %}

                </div>
                                
            {% endfor %}

        </div>

        <div id="whyUse">
    
            <balise id="why_use">Why Roadtrip?</balise>
        
            <p>
                
                Owner ? The good reasons to list your motorhome.
                Tenant? The good reasons to rent via Roadtrip.

                <a href="{{ path('advert.create') }}" class="btn btn-primary">I list my motorhome</a>

            </p>

        </div>

        <div id="lastRatings">
    
            <balise id="last_ratings">Last ratings</balise>
        
            <div class="row">            
                
                {% for rating in lastAdvertRatings %}
                    
                    <div class="col-md-4">
    
                        {{ include('rating/_rating.html.twig', { 'rating': rating}) }}
    
                    </div>
                                    
                {% endfor %}
    
            </div>

    </div>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('home') }}
        
    {% endblock %}

{% endblock %}
