
<pre>

    Hi {{ mail.receiver.firstname }}!

    {{ mail.sender.firstname }} contacted you about your advert <a href="{{ url('advert.show', { slug:  mail.thread.advert.slug, id:  mail.thread.advert.id } ) }}">"{{ mail.thread.advert.title }}"</a>.

    Click <a href="{{ url('communication.messages') }}">here</a> to see it.

</pre>