Bonjour {{ receiver.userName }}!

Afin d'apporter un suivi adéquat sur Raodtip.be, pourriez-vous confirmez que la location reprise ci-dessous bien eu lieu ?

{% if rating.type == 'Advert' %}

    Locataire : {{ tenant.userName }}
    
{% else %}

    Propriétaire : {{ rating.advert.owner.firstName }} {{ rating.advert.owner.name }}
    
{% endif %} 


Date de début de la location : {{ rating.rentalBeginning | date('d/m/Y') }}
Date de fin de la location : {{ rating.rentalEnd | date('d/m/Y') }}

<a href="{{ url('rating.rental.confirmation', { 'id': rating.id, 'confirmation': 'Yes' }) }}">Confirmer</a> <a href="{{ url('rating.rental.confirmation', { 'id': rating.id, 'confirmation': 'No' }) }}">Cette location n'a pas eu lieu</a>


Sans réaction de votre part, dans 15 jours, nous supposerons que cette location a bien eu lieu.

Merci!

{# Makes an absolute URL to the /images/logo.png file 
<img src="{{ absolute_url(asset('images/logo.png')) }}">
#}