{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Backend management
    
{% endblock %}

{% block body %}

    <div class="container mt4">

        <h1>Backend management</h1>

        <div>
            
            <a href="{{ path('backend.duration.index') }}">Durations management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.equipment.index') }}">Equipments management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.fuel.index') }}">Fuels management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.mark.index') }}">Marks management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.rating.toApprove') }}">Ratings management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.season.index') }}">Seasons management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.sort.index') }}">Vehicle types management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.subscription.index') }}">Subscriptions management</a>
        
        </div>

        <div>
            
            <a href="{{ path('backend.VAT.index') }}">VAT's management</a>
        
        </div>

    </div>

{% endblock %}