{% extends 'base.html.twig' %}

{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

{% block title %}Booking request management{% endblock %}

{% block body %}

    <div class="container mt-4">

        {% if action == 'refuse' %}

            <h1>Booking request refused</h1>

            {% set messageValue = "Hello " ~ booking.user.firstname ~ "!

Thank you for your interest in my vehicle.
            
However, I'm really sorry : it isn't available anymore for this period.
            
Best regards," ~ "
                                                            
" ~ app.user.firstname %}
            
        {% else %}

            <h1>Booking request accepted</h1>

            {% set messageValue = "Hello " ~ booking.user.firstname ~ "!

I 've the pleasure to announce you the confirmation of your booking from " ~ booking.getFormattedBeginAt ~ "to " ~ booking.getFormattedEndAt ~ ".
            
Best regards," ~ "
                                                            
" ~ app.user.firstname %}
            
        {% endif %}
        
        {{ form_start(form) }}

            {{ form_row(form.message, {'value' : messageValue }) }}
        
            <button class="btn btn-primary">{{ button | default('Send') }}</button>
                
        {{ form_end(form) }}
        
    </div>
    
    {% block javascripts %}
        
        {{ parent() }}

    {% endblock %}

{% endblock %}