{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin.booking.index') }}">Retour à la liste</a>

    <a href="{{ path('admin.booking.edit', {'id': booking.id}) }}">Editer</a>

    {{ include('Booking/_delete_form.html.twig') }}

{% endblock %}
