{% extends 'base.html.twig' %}

{% block title %}

    Raodtripr - Show a booking
    
{% endblock %}

{% block body %}

    {{ include('_messages.html.twig') }}

    <h1>Booking</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Beginning date</th>
                <td>{{ booking.getFormattedBeginAt }}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ booking.getFormattedEndAt }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('booking.booking.delete', { 'id': booking.id }) }}" class="btn btn-danger">Remove this booking</a>
    <a href="{{ path('advert.show', { 'id': booking.vehicle.advert.id, 'slug': booking.vehicle.advert.slug }) }}#vehicleCalendar" class="btn btn-secondary">Go back to the calendar</a>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('bookingRemoving') }}
        
    {% endblock %}

{% endblock %}
