<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Roadtripr | {% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}

            <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->

            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags ( 'app' ) }}

         {% endblock %}

    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/roadtripr.svg" alt="Roadtripr" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'adverts' %}active{% endif %}" href="#">How does it work ?</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'adverts' %}active{% endif %}" href="{{ path('advert.index') }}">All adverts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'add_advert' %}active{% endif %}" href="{{ path('advert.description.create') }}">List your motorhome</a>
                    </li>
                </ul>

                <div class="btn-group" role="group" aria-label="Basic example">
                {% if app.user %}
                    <a href="{{ path('security.logout') }}" class="nav-link">Logout</a>
                {% else %}
                    <a id="call_modal_btn" class="btn btn-secondary {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" data-focus=true data-backdrop="static" data-keyboard="false" data-toggle="modal" href="#myModal">Login</a>
                {% endif %}

                  {% if app.user %}
                      <a class="btn btn-secondary {% if current_menu is defined and current_menu == 'dashbord' %}active{% endif %}" href="{{ path('user.dashbord') }}">My dashbord</a>
                  {% endif %}

                  {% if not app.user %}
                      <a class="btn btn-secondary {% if current_menu is defined and current_menu == 'registration' %}active{% endif %}" href="{{ path('security.registration') }}">Sign up</a>
                  {% endif %}
                </div>

            </div>

        </nav>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">

            {{ render(controller('App\\Controller\\security\\SecurityController::login')) }}

        </div>

        {% block body %}
        {% endblock %}

        <footer class="footer bg-dark pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5>Menu 1</h5>
                <ul class="list-unstyled">
                  <li class="">Cras justo odio</li>
                  <li class="">Dapibus ac facilisis in</li>
                  <li class="">Morbi leo risus</li>
                  <li class="">Porta ac consectetur ac</li>
                  <li class="">Vestibulum at eros</li>
                </ul>
              </div>
              <div class="col">
                <h5>Menu 2</h5>
                <ul class="list-unstyled">
                  <li class="">Cras justo odio</li>
                  <li class="">Dapibus ac facilisis in</li>
                  <li class="">Morbi leo risus</li>
                  <li class="">Porta ac consectetur ac</li>
                  <li class="">Vestibulum at eros</li>
                </ul>
              </div>
              <div class="col">
                <h5>Menu 3</h5>
                <ul class="list-unstyled">
                  <li class="">Cras justo odio</li>
                  <li class="">Dapibus ac facilisis in</li>
                  <li class="">Morbi leo risus</li>
                  <li class="">Porta ac consectetur ac</li>
                  <li class="">Vestibulum at eros</li>
                </ul>
              </div>
              <div class="col">
                <h5>Social</h5>
                <ul class="list-unstyled">
                  <li class="">Twitter</li>
                  <li class="">Instagram</li>
                  <li class="">Facebook</li>
                </ul>
              </div>
            </div>
            <center>
                Use of this site implies acceptance of the terms and conditions of use and the <a href="#">privacy policy</a>.
                Copyright © 2019 ‐ 2029 Roadtrip ‐ All rights reserved ‐ Last site update : June 20, 2019
            </center>

        </footer>

        {% block javascripts %}

            {{ encore_entry_script_tags ('app') }}

            <script src="https://js.stripe.com/v3/"></script>

            <script>console.log('home javascript block loaded')</script>

        {% endblock %}

    </body>

</html>
