<div class="card">

  <div class="card-header">
    <a href="" class="float-right"><span class="icon icon-favorite">add to favorite</span></a>
    <h3 class="card-title"><a href="{{ path('advert.show', { slug: advert.slug, id: advert.id } ) }}">{{ advert.title }}</a></h3>
    <span class="svg svg-dark">
      <svg width="28" height="28" aria-hidden="true">
        <use xlink:href="images/sprite.svg#favorite"></use>
      </svg>
    </span>
  </div>

  <div class="card-body">
    <a href="{{ path('advert.show', { slug: advert.slug, id: advert.id } ) }}">
    {% if mainPhotos[advert.id] is defined %}
      <img id="photo_{{ mainPhotos[advert.id].id }}"  src="{{ vich_uploader_asset(mainPhotos[advert.id], 'file') | imagine_filter('thumb') }}" alt="card-img-top">
    {% else %}
      <img id="no_photo_{{ i }}" src="{{ asset('images/no-photo.jpg') | imagine_filter('thumb') }}" alt="card-img-top" />
    {% endif %}
    </a>
        <p class="card-text">{{ advert.description | nl2br }}</p>

        {% if advert.vehicle.situation is defined  %}

            <p class="card-text">{{ advert.vehicle.situation.country }}</p>

            {% if advert.vehicle.situation.state %}

                <p class="card-text">{{ advert.vehicle.situation.state }}</p>

            {% endif %}

            <p class="card-text"><span class="icon icon-pin"></span> {{ advert.vehicle.situation.city }} ({{ advert.vehicle.situation.zipCode }})</p>

            {% if homepage is defined %}

                Insertion date : {{ advert.getFormattedCreatedAt }}

            {% else %}
              {% if distance %}
                <span class="icon icon-pin"></span> {{ distance }} km from {{ userCity }}
              {% endif %}
            {% endif %}

        {% endif %}

        <p class="card-text">

            {% if minPrice %}

                {{ minPrice }} €

            {% else %}

                - €

            {% endif %}

        </p>

    </div>
</a>
</div>
