{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig') }}

        {% if editMode %}

            <h1>Modification des coûts supplémentaires</h1>

        {% else %}

            <h1>Création des coûts supplémentaires</h1>

        {% endif %}

        {{ form_start(form) }}

        <h3>Assurance</h3>
                                
        {{ form_row(form.insurance.included) }}
        {{ form_row(form.insurance.deductible) }}

        <h3>Prix de l'assurance et kilométrage inclus</h3>    

        {%  for unique_duration in unique_durations %}

            <h4> {{unique_duration.duration}} </h4>

            {% set i = 0 %}

            {% for insurancePrice in form.insurancePrices %}

                {%  if idInsurancePricesDurations[i] == unique_duration.id %} 

                    <div class='divNotIncludedPrice'>
                
                        {{ form_row(insurancePrice.price, {'attr': {'class': 'price' }}) }}

                    </div> 

                    <div class='divIncludedPrice'>
                
                        Prix de l'assurance inclus dans le prix de la location

                    </div>

                {% endif %}                

                {% set i = i + 1 %}

            {% endfor %}

            {% set j = 0 %}

            {% for includedMileage in form.includedMileages %}

                {%  if idIncludedMileagesDurations[j] == unique_duration.id %} 

                    {{ form_row(includedMileage.mileage) }}

                {% endif %}                

                {% set j = j + 1 %}

            {% endfor %}

        {% endfor %}

        <h3>Prix par kilomètre supplémentaire</h3>

        {{ form_widget(form.extraKilometerCost.extraKilometerCost) }}

        <h3>Nettoyage du véhicule</h3>
                                    
        {{ form_row(form.cleaning.includedCleaning) }}

        <div class='divPriceCleaning'>
        
            {{ form_row(form.cleaning.cleaningCost) }}

        </div>
    
        <button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
        
        {{ form_end(form) }}

    </div>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('costsManagement') }}

    {% endblock %}
   
{% endblock body %}
