{% extends 'base.html.twig' %}

{% block title %}
    Roadtripr - The adverts
{% endblock %}

{% block body %}
  <div class="container pb-5">
    <h2>Results</h2>
    <div class="row">
      <div class="col-md-4">
        <section id="SearchForm">
          {{ form_start(form, {'attr': {'id': 'search_form'}}) }}

          <label for="minimumBedsNumber">Beds number</label>
          <div class="select">
              {{ form_widget(form.minimumBedsNumber) }}
          </div>

          <label for="beginAt">Disponibility</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">From</span>
            </div>
            {{ form_widget(form.beginAt) }}
            <div class="input-group-prepend">
              <span class="input-group-text">To</span>
            </div>
            {{ form_widget(form.endAt) }}
          </div>

          <label for="minimumPrice">Price per day</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">From</span>
            </div>
            {{ form_widget(form.minimumPrice) }}
            <div class="input-group-prepend">
              <span class="input-group-text">To</span>
            </div>
            {{ form_widget(form.maximumPrice) }}
          </div>
          <div class="slider-range-wrap">
            <div id ="pricesSlider" data-minPriceParameter={{ minPriceParameter }} data-maxPriceParameter={{ maxPriceParameter }}></div>
          </div>

          <label for="cellEquipments">Cell options</label>
          <div>
            {{ form_widget(form.cellEquipments) }}
          </div>

          <label for="carrierEquipments">Carrier options</label>
          <div>
            {{ form_widget(form.carrierEquipments) }}
          </div>

          <label for="">Within</label>
            {{ form_widget(form.distance) }}
          <div class="slider-range-wrap">
            <div id ="distanceSlider" data-minDistanceParameter={{ minDistanceParameter }} data-maxDistanceParameter={{ maxDistanceParameter }}></div>
          </div>

          {{ form_row(form.address, {'id': 'search_address'}) }}

          {{ form_row(form.city) }}

        </section>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <label for="sorting">Sort by</label>
          <div class="select">
            {{ form_widget(form.sorting) }}
          </div>
        </div>
        <div>
          <section id="SearchResults">
          </section>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </div>

  {% block javascripts %}

      {{ parent() }}

      {{ encore_entry_script_tags('advertsSearch') }}

  {% endblock %}

{% endblock %}
