{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - The adverts

{% endblock %}

{% block body %}
  <div class="container">
    <h2>Results</h2>
    <div class="row">
      <div class="col-md-4">
        <section id="SearchForm">
        {{ form_start(form) }}
          <label for="minimumBedsNumber">Nombre de places</label>
          <div class="select">
              {{ form_widget(form.minimumBedsNumber) }}
          </div>

          {{ form_row(form.beginAt) }} {{ form_row(form.endAt) }}

          {{ form_widget(form.maximumPrice) }}
          <input type="range" class="custom-range" id="customRange1" min="0" max="500" step="5">

          {{ form_widget(form.cellEquipments) }}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>

          {{ form_widget(form.carrierEquipments) }}

          <label for="">Dans un rayon de</label>
          <div class="select">
            {{ form_widget(form.distance) }}
          </div>

          <input type="range" class="custom-range" id="customRange1" min="0" max="200" step="5">

          {{ form_row(form.address, {'id': 'search_address'}) }}

          {{ form_row(form.city) }}
          {{ form_widget(form.sorting) }}
          <button class="btn btn-primary">Search</button>
        {{ form_end(form) }}
        </section>
      </div>
      <div class="col-md-8">
        <section id="SearchResults">
          <div class="row">
            <div class="col-md-6"><h6><strong>64</strong> résultats</h6></div>
            <div class="col-md-6 float-right text-right">
              <div class="btn-group">
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h6>Sort by</h6></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">Proximité</button>
                  <button class="dropdown-item" type="button">Prix</button>
                  <button class="dropdown-item" type="button">Proximité & prix</button>
                </div>
              </div>
            </div>
          </div>

          {% set i = 0 %}

          <div class="row">

              {% for advert in adverts %}

                  <div class="col-md-6">

                          {% if distances[advert.id] is defined %}

                              {% set distance = distances[advert.id] %}

                          {% else %}

                              {% set distance = null %}

                          {% endif %}

                          {% if minPrices[advert.id] is defined %}

                              {% set minPrice = minPrices[advert.id] %}

                              {% else %}

                                  {% set minPrice = null %}

                          {% endif %}

                          {{ include('advert/_advert.html.twig', { 'i': i, 'advert': advert, 'distance': distance, 'minPrice': minPrice, 'userCity': userCity}) }}

                  </div>

                  {% set i = i + 1 %}

              {% endfor %}
              

          </div>

          <div class="pagination">

              {{ knp_pagination_render(adverts) }}

          </div>

      </section>
      </div>
    </div>
  </div>

  {% block javascripts %}

      {{ parent() }}

      {{ encore_entry_script_tags('advertsSearch') }}

  {% endblock %}

{% endblock %}
