{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig') }}

        {% if editMode %}

            <h1>Periods updating</h1>

        {% else %}

            <h1>Periods creation</h1>

        {% endif %}

        You have different seasons at your disposal : 
        <br>
        <br>
        <ul>

            {% for season in seasons %}

                <li>{{ season.season }}</li>
                
            {% endfor %}

        </ul>
        <br>
        For each period you will create, you will must choose a season. If you don't want create different periods, create only one for 
        minimum {{ minimumCreationPeriods }} to maximum {{ limitCreationPeriods }}.
        <br>
        <br>
        In the next step, for each season or for the single season you are going use use, you will be able to specify the prices.
        <br>
        <br>                
        <h4>From today to {{ upLimitDate|localizeddate('medium', 'none', locale) }}</h4>

        {{ form_start(form) }}
            
            <ul class= "periods" data-prototype= " {{ form_widget ( form.periods.vars.prototype )| e ( 'html_attr' ) }} " >

                {# iterate over each existing period #}
                {% for period in form.periods %}

                    <li class= "li_period"> 
                                    
                        {{ form_row(period.start) }}
                        {{ form_row( period.end ) }}
                        {{ form_row( period.season ) }}
                    
                    </li>

                {% endfor %}

            </ul>
                
            <button type="button" class="btn btn-primary" id="add_period_btn">Add a period</button>
            <br>
            <br>
            <button type="submit" class="btn btn-success">Next</button>
            
        {{ form_end(form) }}

    </div>
    
    {% block javascripts %}
        
        {{ parent() }}    
        
        {{ encore_entry_script_tags('periodsCreation') }}
    
    {% endblock %}
   
{% endblock body %}
