{% extends 'base.html.twig' %}

{% block title %}Administrer l'annonce{% endblock %}

{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig', { 'form': form }) }}

        <h1>Gérer les photos</h1>

            {{ form_start(form) }}

            <ul class= "photos" data-prototype= " {{ form_widget ( form.photos.vars.prototype )| e ( 'html_attr' ) }} " >
                {# iterate over each existing photo and render its only field: name #}
        
                {% set i = 0 %}
        
                {% for photo in form.photos %}
        
                    <li id="li_photo_{{ i }}"> 
        
                        {% if editMode %}
                            
                            <div style='display: none'>
        
                                {{ form_row(photo.file) }}
                                
                            </div>
                        {% else %}
        
                            {{ form_row(photo.file) }}
        
                        {% endif %}
        
                        {{ form_row ( photo.file ) }}
        
                        {% if editMode and form.photos %}
        
                            <img id="photo_{{ i }}"  src="{{ vich_uploader_asset(recordedPhotos[i], 'file') | imagine_filter('thumb') }}" width="100" alt="Photo{{ i + 1 }}">
        
                        {% endif %}                        
                        
                        {{ form_row ( photo.mainPhoto ) }}
                        {{ form_row ( photo.name ) }}

                        <a href="{{ path('advert.photo.delete', {id: recordedPhotosIds[i]}) }}" class="btn btn-danger">Supprimer cette photo</a>
        
                    </li>
                    
                    {% set i = i + 1 %}
        
                {% endfor %}
                
            </ul> 
            
            {{ form_row(form.deletedPhotos) }}

            <div class="text-left">
    
                <a href="#" class="btn btn-primary" id="add_photo_link">Ajouter une photo</a>
    
            </div>

            <div class="text-right">
    
                <button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>

            </div>
            
        {{ form_end(form) }}

    </div>
        
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('photosManagement') }}
        
    {% endblock %}

{% endblock %}
