{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

{% block body %}    

    <div class="container mt4">

        {{ include('_messages.html.twig', { 'form': form }) }}

        {% if editMode %}

            <h1>Modification des prix</h1>

        {% else %}

            <h1>Création des prix</h1>

        {% endif %}

        {{ form_start(form) }}

        <h3>Prix</h3>

            {% for season in unique_seasons %}

                <h4>Saison {{ season.season }}</h4>

                {# Don't changing the id and the data-index because they're used in Jquery #}
                
                    <ul class= "prices" id = "ulSeason_{{ season.id }}" data-prototype = " {{ form_widget ( form.prices.vars.prototype )| e ( 'html_attr' ) }} ">

                        {% set i = 0 %}
                
                        {% for price in form.prices %}                

                            {% if idsSeasonsPrices[i] == season.id %}

                                <li>
                                    {{ form_row( price.price ) }}
                                
                                    {# To discuss with Ben to decide the work way to show prices #}
                                    {{ form_row( price.duration ) }}
                            
                                    {# Hide this control paying attention because the controls order is used in Jquery #}
                                    {{ form_row( price.season ) }}

                                    {# Don't giving an id because it's build in Jquery. The fields places order is used in Jquery #}
                                    <button type="button" class="btn-remove" data-target="ulSeason_{{ season.id }}">
                                        Supprimer cette durée
                                    </button>
                                </li>
                                    
                            {% endif %}

                            {% set i = i + 1 %}

                        {% endfor %}

                        {# For each missing duration for the season, adding a button to add the price for these durations  #}
                        {% set seasonName = season.season %}
        
                        {% for configuredDuration in configuredDurations %}
        
                            {% if missingDurations[seasonName] is defined and configuredDuration in missingDurations[seasonName] %}                        
        
                                {# Don't changing the id because it's used in Jquery #}    
                                <button type="button" id="btn-add_{{ season.id }}_{{ configuredDuration.id }}" class="btn-add">
                                    Ajouter {{configuredDuration}}
                                </button>
        
                            {% else %}                        
        
                                {# Don't changing the id because it's used in Jquery #}
                                <button type="button" id="btn-add_{{ season.id }}_{{ configuredDuration.id }}" class="btn-add" style="display: none">
                                    Ajouter {{configuredDuration}}
                                </button>
                        
                            {% endif %}

                        {% endfor %}

                    </ul>

            {% endfor %}    
        
            <button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
        
        {{ form_end(form) }}

    </div>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('pricesManagement') }}

    {% endblock %}
   
{% endblock body %}
