{% extends "base.html.twig" %}

{% block title %}

    Roadtripr - Management of your rental prices
    
{% endblock %}

{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

{% block body %}    

    <div class="container mt4">

        {{ include('_messages.html.twig') }}

        {% if editMode %}

            <h1>Prices update</h1>

        {% else %}

            <h1>Prices creation</h1>

        {% endif %}

        {{ form_start(form) }}

            {% for season in usedSeasons %}

                <h2>{{ season.season|capitalize }} season</h2>               
                
                {# Don't changing the id and the data-index because they're used in Jquery #}                
                <ul class="ul_prices" id="ulPrices_{{ season.id }}" data-prototype="{{ form_widget ( form.prices.vars.prototype )|e('html_attr') }}">

                {% set i = 0 %}
                
                {% for price in form.prices %}

                    {% if idsSeasonsPrices[i] == season.id %}

                        <li class='li_price'>
                            {{ form_row( price.price ) }}                                
                            {{ form_row( price.duration, { 'attr': {'class': 'duration-input'} } ) }}
                                
                            {# Hide this control paying attention because the controls order is used in Jquery #}
                            {{ form_row( price.season ) }}

                            {# Don't giving an id because it's build in Jquery. The fields places order is used in Jquery #}
                            <button type="button" class="btn btn-danger btn-removePrice" data-target="ulSeason_{{ season.id }}">
                                Remove this duration
                            </button>
                        </li>

                    {% endif %}

                    {% set i = i + 1 %}

                {% endfor %}

                </ul>

                {# For each missing duration for the season, adding a button to add the price #}
                {% set seasonName = season.season %}

                {% for duration in configuredDurations %}                        

                    {% if duration in missingDurations[season.id] %}    
                
                        <button type="button" class="btn btn-primary add-price-btn" id="add_price_btn_{{ duration.id }}_{{ season.id }}"  
                                data-target="ulSeason_{{ season.id }}"  data-duration="{{ duration.id }}">
                            Add price for {{ duration.duration|lower }}
                        </button>
                        
                    {% else %}    
                
                        <button type="button" class="btn btn-primary add-price-btn" id="add_price_btn_{{ duration.id }}_{{ season.id }}"  
                                data-target="ulSeason_{{ season.id }}" data-duration="{{ duration.id }}" style="display: none">
                            Add price for {{ duration.duration|lower }}
                        </button>
                        
                    {% endif %}

                {% endfor %}

            {% endfor %}
            <br>
            <br>
            <button type="submit" class="btn btn-success">Next</button>
        
        {{ form_end(form) }}

    </div>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('pricesCreation') }}

    {% endblock %}
   
{% endblock body %}
