{% extends 'base.html.twig' %}

{% block title %} {{advert.title}} {% endblock %}

{% block body %}

    <div class="jumbotron">

        <div class="container">

            {{ include('_messages.html.twig') }}                

            <div class='row'>

                <div class='col-md-8'> 

                    <div data-slider>

                        {% if advert.photos is empty %}
                            
                            <img id="no_photo_{{ advert.id }}" src="{{ asset('images/no-photo.jpg') | imagine_filter('medium') }}" alt="card-img-default" style="width: 100%; height:auto;"/>
        
                        {% else %}
        
                            {% for photo in advert.photos %}
        
                                <img id="photo_{{ photo.id }}" src="{{ vich_uploader_asset(photo, 'file') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;"/>
                                    
                            {% endfor %}
        
                        {% endif %}

                    </div>
        
                </div>
        
                <div class='col-md-4'>
        
                    <h1>{{advert.title}}</h1>

                    {% if  advert.vehicle %}

                        <h2>{{advert.vehicle.bedsNumber}} sleeps - {{advert.vehicle.seatsNumber}} seats</h2>

                    {% endif %}

                    {% if  minPrice %}

                        <div class="text-primary" style"font-size: 4rem; font-weight: bold">{{ minPrice.formattedPrice }} €</div>

                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <div>

                        {% if favorite %}

                            In my favorites
                            
                            <form method = "post" action="{{ path('user.favorite.delete', { 'id': favorite.id }) }}" style="display: inline-block">

                                <input type="hidden"  name="_method" value="DELETE">
                                <input type="hidden"  name="_token" value="{{ csrf_token('delete' ~ favorite.id ) }}">
                                <button class="btn btn-danger">Remove</button>

                            </form>
                            
                        {% else %}
                        
                            <a href="{{ path('user.favorite.create', { 'id': advert.id }) }}" class="btn btn-primary">Add to my favorites</a>
                            
                        {% endif %}

                    </div>

                        <div>

                            <a href="{{ path('communication.mail.create', { 'id': advert.id, 'receiver': advert.owner.user.id }) }}" class="btn btn-primary">Contact the owner</a>

                        </div>

                        <div>

                            <a href="{{ path('booking.booking.request', { 'id': advert.vehicle.id }) }}" class="btn btn-primary">Request a booking</a>

                        </div>

                    {% else %}
                        
                        <div>

                            <a href="{{ path('security.login') }}">Login to contact the owner, request a booking or add this advert in your favorites</a>

                        </div>

                    {% endif %}
        
                </div>
        
            </div>

        </div>

    </div>
        
    <div class="container mt-4">

        <p>

            {{ advert.description | nl2br }}

        </p>

        <div class="row">

            <div class="col-md-8">

                General description
                <table class="table table-striped">

                    <tr>

                        <h2>Caractéristiques</h2>
                            
                        {% if  advert.vehicle %}
                        
                            <td>Type</td>
                            <td>{{ advert.vehicle.sort.sort }}</td>
                            <td>Mark</td>
                            <td>{{ advert.vehicle.mark.mark }}</td>
                            <td>Fuel</td>
                            <td>{{ advert.vehicle.fuel.fuel }}</td>
                            <td>Building date</td>
                            <td>{{ advert.vehicle.getFormattedManufactureDate }}</td>
                            <td>Power</td>
                            <td>{{ advert.vehicle.power }} cv</td>
                            <td>Gearbox</td>
                            <td>{{advert.vehicle.gearBox}}</td>
                            <td>Sleeps</td>
                            <td>{{ advert.vehicle.bedsNumber }}</td>
                            <td>Seats</td>
                            <td>{{ advert.vehicle.seatsNumber }}</td>

                        {% endif %}

                    </tr>

                </table>

            </div>

            <span id="vehicleId" style="display: none;">{{ advert.vehicle.id }}</span>

        </div>

        <div class="row">

            <h2>Equipment</h2>

        </div>

        <div class="row">

            <div class="col-md-4">

                <h3>Cell</h3>
                <ul class="list-group">

                    {% for cellEquipment in cellEquipments %}

                        <li class="list-group-item">{{ cellEquipment.equipment }}</li>
                        
                    {% endfor %}

                </ul>

            </div>

            <div class="col-md-4">

                <h3>Carrier</h3>
                <ul class="list-group">

                    {% for carrierEquipment in carrierEquipments %}

                        <li class="list-group-item">{{ carrierEquipment.equipment }}</li>
                        
                    {% endfor %}

                </ul>
                    
            </div>

            <div class="container">

                <div class="row">

                    <h2>Disponibilities</h2>

                </div>

                <div id="vehicleCalendar" class="row">
                
                    {% include '@Calendar/calendar.html' %}

                </div>

            </div>

            <section id="comments">

                {% set ratingsNumber = advert.ratings | length %}

                {% if ratingsNumber > 0 %}
                
                    {% if ratingsNumber == 1 %} 

                        <h1>1 rating :</h1>

                    {% else %}

                        <h1>{{ ratingsNumber }} ratings :</h1>

                    {% endif %}

                    {% for rating in advert.ratings %}

                        <div class="comment">

                                <div class="row">
            
            
                                    <div class="col">
            
                                        {% if rating.score %}

                                            {% for i in 1.. rating.score %}

                                                <img src="{{ asset('images/star.png') | imagine_filter('medium') }}" alt="score_star" style="width: 100%; height:auto;"/>
                                                    
                                            {% endfor %}
                                                
                                        {% endif %}
                                            
                                        ({{ rating.score }}/5)
            
                                    </div>

                                </div>

                            <div class="row">


                                <div class="col-3">

                                    {{ rating.user.userName }} (<small>{{ rating.createdAt | date('d/m/Y à H:i') }})</small>

                                </div>

                                <div class="col">

                                    {{ rating.comment | raw }}

                                </div>

                            </div>

                        </div>
                            
                    {% endfor %}
                    
                {% endif %}

            </section>

        </div>
{#
        <div id="map" style="width: 100; height: 400px;" data-latitude="{{ advert.vehicle.situation.latitude }}" data-longitude="{{ advert.vehicle.situation.longitude }}"></div>
#}
    </div>
   
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('showAdvert') }}
        
        <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
        <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
        <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
        <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>
    
    {% endblock %}
        

{% endblock %}
