{% extends 'base.html.twig' %}

{% block title %}Administrer l'annonce{% endblock %}

{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig', { 'form': form }) }}

        <h1>Gérer le véhicule</h1>

        {{ form_start(form) }}
    
            <div class="col-md-4">{{ form_row(form.manufactureDate) }}</div>
            <div class="col-md-4">{{ form_row(form.mark) }}</div>
            <div class="col-md-4">{{ form_row(form.fuel) }}</div>
            <div class="col-md-4">{{ form_row(form.length) }}</div>
            <div class="col-md-4">{{ form_row(form.height) }}</div>
            <div class="col-md-4">{{ form_row(form.weight) }}</div>
            <div class="col-md-4">{{ form_row(form.power) }}</div>
            <div class="col-md-4">{{ form_row(form.gearbox) }}</div>
            <div class="col-md-4">{{ form_row(form.sort) }}</div>
            <div class="col-md-4">{{ form_row(form.bedsNumber) }}</div>
            <div class="col-md-4">{{ form_row(form.seatsNumber) }}</div>
            <div class="col-md-4">{{ form_row(form.equipments) }}</div>
            <div class="col-md-4">{{ form_row(form.cellEquipments) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.street) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.number) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.box) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.zipCode) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.city) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.state) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.country) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.latitude) }}</div>
            <div class="col-md-4">{{ form_row(form.situation.longitude) }}</div>

            <button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
            
        {{ form_end(form) }}

    </div>
    
    {% block javascripts %}
        
        {{ parent() }}
        
        {{ encore_entry_script_tags('vehicleManagement') }}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        
    {% endblock %}

{% endblock %}
