{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - Management of your vehicle data
    
{% endblock %}

{% block body %}

    <div class="container mt-4">

        {{ include('_messages.html.twig') }}

        <h1>Your vehicle data</h1>

        {{ form_start(form) }}
    
            {{ form_rest(form) }}

            <button type="submit" class="btn btn-success">Next</button>
            
        {{ form_end(form) }}

    </div>
    
    {% block javascripts %}
        
        {{ parent() }}    
        {{ encore_entry_script_tags('vehicleCreation') }}
        
    {% endblock %}

{% endblock %}
