{% extends "base.html.twig" %}

{% block title %}

    Roadtripr - Management of your vehicle data
    
{% endblock %}

{% block stylesheets %} 

     {{ parent () }} 

 {% endblock %}

 
{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig') }}

        <label for="subscription-informations">Chosen subscription summary</label>

        <div  id="subscription-informations" class="form-group">

            <div>{{ advert.subscription.title }}</div>
            <div>{{ advert.subscription.description }}</div>
            <div>Validity : {{ advert.subscription.duration }} months</div>

            {% if europeanCountry %}

                <div>Price : {{ price }} € VAT</div>
                
            {% else %}

                <div>Price : {{ price }} € </div>
                
            {% endif %}            

        </div>

        <div id="card-errors" role="alert" style="display: none"></div>

        <form action="{{ path('payment.StripeFlow', { 'id': advert.id }) }}" method="post" id="payment-form">

            <label for="holder-informations">Cardholder data</label>

            <div id="holder-informations" class="form-group">

                <label for="holder-name">Holder</label>
                <input id="holder-name" type="text" class="form-control" value="{{ advert.owner.user.firstname ~ ' ' ~  advert.owner.user.name }}">

                <label for="holder-email">Email</label>
                <input id="holder-email" name="holder-email" type="email" class="form-control" value="{{ advert.owner.user.email }}">

            </div>

            <label for="card-element">Card data</label>

            <div id="card-element" class="form-group">

                <!-- A Stripe Element will be inserted here. -->

            </div>

            <button id="card-button" class="btn btn-primary">Subscribe</button>

            <div style="display: none">

                <input id="stripe_public_key" type="hidden" value="{{ stripe_public_key }}">
            
            </div>

        </form>

    </div>
    
    {% block javascripts %}

        {{ parent() }}

        {{ encore_entry_script_tags('payment') }}

    {% endblock %}
   
{% endblock body %}
