{% extends 'base.html.twig' %}

{% block title %}

    Roadtripr - My dashboard : ratings
    
{% endblock %}

{% block body %}

    <div class="container mt4">

        {{ include('_messages.html.twig') }}

        <h1>My ratings</h1>

        {% if toRateTenantBookings is not empty or toRateOwnerBookings is not empty %}

            <h2>Pending ratings</h2>

            {% if toRateTenantBookings is not empty %}

                <h3>To owners</h3>

                <table class="table striped">

                    <thead>

                        <tr>

                            <th>Photo</th>
                            <th>Vehicle</th>
                            <th>Advert</th>
                            <th>Location period</th>
                            <th>Action</th>

                        </tr>

                    </thead>

                    <tbody>

                        {% set i = 1 %}

                        {% for booking in toRateTenantBookings %} 

                            {% set vehicle = booking.vehicle %}
                            {% set advert = vehicle.advert %}

                            <tr>

                                <td>

                                    {% if mainPhotos[advert.id] is defined %}
                                        
                                        <img id="photo_{{ mainPhotos[advert.id].id }}" 
                                             src="{{ vich_uploader_asset(mainPhotos[advert.id], 'file') | imagine_filter('tiny') }}" alt="card-img-top" 
                                             style="width: 100%; height:auto;">
                                    
                                    {% else %}
                                    
                                        <img id="no_photo_{{ i }}" src="{{ asset('images/no-photo.jpg') | imagine_filter('tiny') }}" alt="card-img-top" 
                                             style="width: 100%; height:auto;"/>
                                                    
                                    {% endif %}
                                    
                                </td>
                                <td>{{ vehicle.mark.mark }} - {{ vehicle.sort.sort }} ({{ vehicle.getFormattedManufactureDate }})</td>
                                <td>{{ advert.title }}</td>
                                <td>From {{ booking.getFormattedBeginAt }} to {{ booking.getFormattedEndAt }}</td>
                                <td><a href="{{ path('rating.create', { 'id': booking.id }) }}" class="btn btn-secondary">Leave a rating</a></td>

                            </tr>

                            {% set i = i + 1 %}
                            
                        {% endfor %}

                    </tbody>

                </table>

            {% endif %}

        {% endif %}

        {% if toRateOwnerBookings is not empty %}
            
            <h3>To tenants</h3>

            <table class="table striped">

                <thead>

                    <tr>

                        <th>Advert</th>
                        <th>Vehicle</th>
                        <th>Tenant</th>
                        <th>Location period</th>
                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    {% set i = 1 %}

                    {% for booking in toRateOwnerBookings %}  

                        {% set vehicle = booking.vehicle %}                 

                        <tr>
                                
                            <td>{{ vehicle.advert.title }}</td>
                            <td>{{ vehicle.mark.mark }} - {{ vehicle.sort.sort }} ({{ vehicle.getFormattedManufactureDate }})</td>
                            <td>{{ booking.user.firstname }} {{ booking.user.name }}</td>
                            <td>From {{ booking.getFormattedBeginAt }} to {{ booking.getFormattedEndAt }}</td>
                            <td><a href="{{ path('rating.create', { 'id': booking.id }) }}" class="btn btn-secondary">Leave a rating</a></td>

                        </tr>

                        {% set i = i + 1 %}
                        
                    {% endfor %}

                </tbody>

            </table>
            
        {% endif %}

        {% if receivedUserRatings is not empty or receivedOwnerRatings is not empty %}

            <h2>Received ratings</h2>

            {% if receivedUserRatings is not empty %}
            
                <h3>From owners</h3>

                {% include 'rating/_ratingsTable.html.twig' with {'ratings': receivedUserRatings, 'fromOwner': true, 'showResponse': true} %}

            {% endif %}

            {% if receivedOwnerRatings is not empty %}

                <h3>From tenants</h3>

                {% include 'rating/_ratingsTable.html.twig' with {'ratings': receivedOwnerRatings, 'fromOwner': false, 'showResponse': true} %}

            {% endif %}

        {% endif %}

        {% if approvedGivenOwnerRatings is not empty or givenOwnerRatingsToApprove is not empty or 
              approvedGivenTenantRatings is not empty or givenTenantRatingsToApprove is not empty %}

            <h2>Given ratings</h2>

            {% if approvedGivenOwnerRatings is not empty or givenOwnerRatingsToApprove is not empty %}

                <h3>To owners</h3>

                {% if givenOwnerRatingsToApprove is not empty %}

                    <h4>Pending approbation</h4>

                    {% include 'rating/_ratingsTable.html.twig' with {'ratings': givenOwnerRatingsToApprove, 'fromOwner': false, 'showResponse': false} %}

                {% endif %}

                {% if approvedGivenOwnerRatings is not empty %}

                    <h4>Approved</h4>

                    {% include 'rating/_ratingsTable.html.twig' with {'ratings': approvedGivenOwnerRatings, 'fromOwner': false, 'showResponse': true} %}

                {% endif %}

            {% endif %}

            {% if approvedGivenTenantRatings is not empty or givenTenantRatingsToApprove is not empty %}

                <h3>To tenants</h3>

                {% if givenTenantRatingsToApprove is not empty %}

                    <h4>Pending approbation</h4>

                    {% include 'rating/_ratingsTable.html.twig' with {'ratings': givenTenantRatingsToApprove, 'fromOwner': true, 'showResponse': false} %}

                {% endif %}

                {% if approvedGivenTenantRatings is not empty %}

                    <h4>Approved</h4>

                    {% include 'rating/_ratingsTable.html.twig' with {'ratings': approvedGivenTenantRatings, 'fromOwner': true, 'showResponse': true} %}

                {% endif %}

            {% endif %}

        {% endif %}
        
    </div>

{% endblock %}
