{% extends 'base.html.twig' %}

{% block title %} Your Roadtripr dashboard {% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">My profile</h2>
          {% if user.owner is not null %}({{ profileCompletion }}% completed)
          {% endif %}
        </div>
        <div class="card-body">
        <div class="container mt-4">
            Photo (<a href="">edit</a>)
            <dl class="row">
              <dt class="col-6 col-sm-6">Username :</dt>
              <dd class="col-6 col-sm-6">{{ user.username }}</dd>

              <dt class="col-6 col-sm-6">First Name :</dt>
              <dd class="col-6 col-sm-6">{{ user.firstname }}</dd>

              <dt class="col-6 col-sm-6">Last Name :</dt>
              <dd class="col-6 col-sm-6">{{ user.name }}</dd>

              <dt class="col-6 col-sm-6">Phone :</dt>
              <dd class="col-6 col-sm-6">{{ user.phoneNumber }}</dd>

              {% if user.owner is not null %}
              <dt class="col-6 col-sm-6">Company name :</dt>
              <dd class="col-6 col-sm-6">{{ user.owner.companyName }}</dd>

              <dt class="col-6 col-sm-6">Company number :</dt>
              <dd class="col-6 col-sm-6">{{ user.owner.companyNumber }}</dd>

              <dt class="col-6 col-sm-6">Billing address :</dt>
              <dd class="col-6 col-sm-6">
                  {{ user.owner.billingAddress.street }}, {{ user.owner.billingAddress.number }}  {% if user.owner.billingAddress.box %}/{{ user.owner.billingAddress.box }}{% endif %},
                  {{ user.owner.billingAddress.zipCode }}  {{ user.owner.billingAddress.city }}, {{ user.owner.billingAddress.country }}
                  {% if user.owner.billingAddress.state %}({{ user.owner.billingAddress.state }}{% endif %})
              </dd>

            </dl>
            <hr />
            {% if user.owner is not null %}
            <ul>
              <li><a href="{{ path('user.profile.update') }}">Modify my profile</a></li>
              <li><a href="{{ path('user.user.edit') }}">My user data</a></li>
              <li><a href="{{ path('security.resetting.dashbord') }}">Modify my password</a></li>
              <li><a href="{{ path('user.owner.edit') }}">My owner contact informations</a></li>
            </ul>
            {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1>Hi {{ user.username }}, what's up ?</h1>

        {{ include('_messages.html.twig') }}

        {% if user.owner is not null %}

        <h3>My booking requests</h3>
        <div class="alert alert-warning" role="alert">
          {% if bookingRequestsNumber is not null %}
            {% if bookingRequestsNumber > 1 %}
            {{ bookingRequestsNumber }} requests
            {% else %}
            1 request
            {% endif %}
          {% else %}
          Currently no request
          {% endif %}            
        </div>
        <a class="btn btn-secondary" href="{{ path('booking.booking.requests') }}">All requests</a>
        <hr />

        <h3>My adverts ({{ advertsNumber }})</h3>
        <ul>
          {% for advert in advertsToShow %}
            <li><a href="{{ path('advert.show', { slug: advert.slug, id: advert.id } ) }}">{{ advert.title }}</a></li>
          {% endfor %}
        </ul>
        <a class="btn btn-secondary"  href="{{ path('advert.owner') }}">All adverts</a>
        <hr />

        <h3>My bills</h3>
        <a class="btn btn-secondary"  href="{{ path('payment.owner.bills') }}">All bills</a>
        <hr />

        {% endif %}

        <h3>My favorites</h3>
        <a class="btn btn-secondary"  href="{{ path('user.favorites') }}">All favorites</a>
        <hr />

        <h3>My messages</h3>
        <a class="btn btn-secondary"  href="{{ path('communication.messages') }}">All messages</a>
        <hr />

        <h3>My ratings</h3>
        <a class="btn btn-secondary"  href="{{ path('rating.dashbord') }}">All ratings</a>
        <hr />

        <h3>My bookings</h3>
        <a class="btn btn-secondary"  href="{{ path('booking.bookings') }}">All bookings</a>
        <hr />

    </div>

    </div>

</div>

        {% endif %}

{% endblock %}
