{% extends 'base.html.twig' %}

{% block title %}My messages{% endblock %}

{% block body %}

    <div class='container mt-4'>

        <h1>My messages</h1>

        <div class="row">
            
            <div class="col-md-2">

                Date

            </div>
            
            <div class="col-md-2">

                Receiver

            </div>
            
            <div class="col-md-4">

                Advert

            </div>
            
            <div class="col-md-4">

                Message

            </div>

        </div>

        <div class="row">

            {% for message in messages %}
            
                <div class="col-md-2">

                    {{ message.getFormattedCreatedAt }}

                </div>
            
                <div class="col-md-2">

                    {{ message.receiver.firstname }} {{ message.receiver.name }}

                </div>
            
                <div class="col-md-4">

                    {{ message.advert.title }}

                </div>
            
                <div class="col-md-4">

                    {{ message.message | nl2br }}

                </div>
                
            {% endfor %}
            
        </div>

    </div>

{% endblock %}
