{% extends 'base.html.twig' %}

{% block title %}My messages{% endblock %}

{% block body %}

    {{ include('_messages.html.twig') }}

    {% if user.threads|length > 0 %}

        <div>

            <div> 

                With owners

            </div>

            {% for thread in user.threads %}

                {% set i = 0 %}

                {{ include('communication/_thread.html.twig', { 'i': i, 'notReadMessages': notReadUserMessages }) }}

                {% set i = i + 1 %}

            {% endfor %}

        </div>

    {% endif %}

    {% if user.owner is not null and user.owner.threads|length > 0 %}

        <div>

            <div> 

                From users

            </div>

            {% for thread in user.owner.threads %}

                {% set i = 0 %}

                {{ include('communication/_thread.html.twig', { 'i': i, 'notReadMessages': notReadOwnerMessages }) }}

                {% set i = i + 1 %}

            {% endfor %}

        </div> 
        
    {% endif %}

    {% if otherMails|length > 0 %}

        <div>

            <div> 

                From Roadtrip

            </div>

            <div>

                {% for mail in otherMails %}

                    <pre>    
                        {{ mail.getFormattedCreatedAt }} - {{ mail.sender.firstname }}

                        {{ mail.message | nl2br }}
                    </pre>

                {% endfor %}

            </div>

        </div>

    {% endif %}

    <div id="ajaxUrlDiv" style="display: none" data-url="{{ path('communication.mail.update.read') }}"></div>
    
    {% block javascripts %}
        
        {{ parent() }}

        {{ encore_entry_script_tags('threads') }}

    {% endblock %}

{% endblock body %}
